@media (min-width: 576px) and (max-width: 767.98px) {
  .personal-image {
    display: none;
  }

  .navba {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-2 {
    margin-right: 32px;
  }

  .nav {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 2px solid #e9ecef;
    border-right: 2px solid #e9ecef;
  }

  .nav-1,
  .nav-3 {
    border-right: 0;
  }

  /* Personal Information Section */
  #info {
    background-color: #f1f3f5;
  }
  .per,
  .infor {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 24px;
    padding-bottom: 12px;
  }

  /* Project */

  table {
    height: 400px;
  }
}
